In [27]:

import pandas as pd

In [168]:
pahours = pd.read_csv('Project_CSV.csv')
pahours

,SU Ref,Basic Hrs,SAT Hrs,DON,UON,AntiSocial Hrs,Pub Hol Hrs,Sunday Hrs,Total Hrs,Hours per week,Hours per week category,AS/PH/SUN %,Premium Hours
0,1.0,6,-,-,-,8,5,132,150.0,5.0,Under 5 Hrs,96%,Over 40% premium hrs
1,2.0,19,-,-,-,2,-,250,270.0,9.0,6-10 Hrs,93%,Over 40% premium hrs
2,3.0,-,-,-,-,-,4,112,116.0,4.0,Under 5 Hrs,100%,Over 40% premium hrs
3,4.0,6,-,-,-,-,2,50,58.0,2.0,Under 5 Hrs,90%,Over 40% premium hrs
4,5.0,2,-,-,-,-,-,13,15.0,0.0,Under 5 Hrs,87%,Over 40% premium hrs
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.0,89,-,-,-,-,-,-,89.0,3.0,Under 5 Hrs,0%,No premium hrs
996,997.0,298,-,-,-,-,-,-,298.0,10.0,6-10 Hrs,0%,No premium hrs
997,998.0,60,-,-,-,-,-,-,60.0,2.0,Under 5 Hrs,0%,No premium hrs
998,999.0,163,-,-,-,-,1,-,164.0,5.0,Under 5 Hrs,1%,1%-10% premium hrs
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
pahours.dtypes

SU Ref                     float64
Basic Hrs                   object
SAT Hrs                     object
DON                         object
UON                         object
AntiSocial Hrs              object
Pub Hol Hrs                 object
Sunday Hrs                  object
Total Hrs                  float64
Hours per week             float64
Hours per week category     object
AS/PH/SUN %                 object
Premium Hours               object
dtype: object

In [102]:
pahours.head(3)

,SU Ref,Basic Hrs,SAT Hrs,DON,UON,AntiSocial Hrs,Pub Hol Hrs,Sunday Hrs,Total Hrs,Hours per week,Hours per week category,AS/PH/SUN %,Premium Hours
0,1.0,6,-,-,-,8,5,132,150,5.0,Under 5 Hrs,96%,Over 40% premium hrs
1,2.0,19,-,-,-,2,-,250,270,9.0,6-10 Hrs,93%,Over 40% premium hrs
2,3.0,-,-,-,-,-,4,112,116,4.0,Under 5 Hrs,100%,Over 40% premium hrs

In [181]:
# Describing the table
pahours.describe

<bound method NDFrame.describe of      SU Ref Basic Hrs SAT Hrs    DON    UON AntiSocial Hrs Pub Hol Hrs  \
0       1.0         6    -      -      -                 8           5
1       2.0        19    -      -      -                 2        -
2       3.0      -       -      -      -              -              4
3       4.0         6    -      -      -              -              2
4       5.0         2    -      -      -              -           -
..      ...       ...     ...    ...    ...            ...         ...
995   996.0        89    -      -      -              -           -
996   997.0       298    -      -      -              -           -
997   998.0        60    -      -      -              -           -
998   999.0       163    -      -      -              -              1
999     NaN       NaN     NaN    NaN    NaN            NaN         NaN

    Sunday Hrs  Total Hrs  Hours per week Hours per week category AS/PH/SUN %  \
0          132      150.0             5.0             Under 5 Hrs         96%
1          250      270.0             9.0                6-10 Hrs         93%
2          112      116.0             4.0             Under 5 Hrs        100%
3           50       58.0             2.0             Under 5 Hrs         90%
4           13       15.0             0.0             Under 5 Hrs         87%
..         ...        ...             ...                     ...         ...
995       -          89.0             3.0             Under 5 Hrs          0%
996       -         298.0            10.0                6-10 Hrs          0%
997       -          60.0             2.0             Under 5 Hrs          0%
998       -         164.0             5.0             Under 5 Hrs          1%
999        NaN        NaN             NaN                     NaN         NaN

            Premium Hours
0    Over 40% premium hrs
1    Over 40% premium hrs
2    Over 40% premium hrs
3    Over 40% premium hrs
4    Over 40% premium hrs
..                    ...
995        No premium hrs
996        No premium hrs
997        No premium hrs
998    1%-10% premium hrs
999                   NaN

[1000 rows x 13 columns]>

In [192]:
pahours.compare

<bound method DataFrame.compare of      SU Ref Basic Hrs SAT Hrs    DON    UON AntiSocial Hrs Pub Hol Hrs  \
0       1.0         6    -      -      -                 8           5
1       2.0        19    -      -      -                 2        -
2       3.0      -       -      -      -              -              4
3       4.0         6    -      -      -              -              2
4       5.0         2    -      -      -              -           -
..      ...       ...     ...    ...    ...            ...         ...
995   996.0        89    -      -      -              -           -
996   997.0       298    -      -      -              -           -
997   998.0        60    -      -      -              -           -
998   999.0       163    -      -      -              -              1
999     NaN       NaN     NaN    NaN    NaN            NaN         NaN

    Sunday Hrs  Total Hrs  Hours per week Hours per week category AS/PH/SUN %  \
0          132      150.0             5.0             Under 5 Hrs         96%
1          250      270.0             9.0                6-10 Hrs         93%
2          112      116.0             4.0             Under 5 Hrs        100%
3           50       58.0             2.0             Under 5 Hrs         90%
4           13       15.0             0.0             Under 5 Hrs         87%
..         ...        ...             ...                     ...         ...
995       -          89.0             3.0             Under 5 Hrs          0%
996       -         298.0            10.0                6-10 Hrs          0%
997       -          60.0             2.0             Under 5 Hrs          0%
998       -         164.0             5.0             Under 5 Hrs          1%
999        NaN        NaN             NaN                     NaN         NaN

            Premium Hours
0    Over 40% premium hrs
1    Over 40% premium hrs
2    Over 40% premium hrs
3    Over 40% premium hrs
4    Over 40% premium hrs
..                    ...
995        No premium hrs
996        No premium hrs
997        No premium hrs
998    1%-10% premium hrs
999                   NaN

[1000 rows x 13 columns]>

In [190]:
# Setting the index as SU Ref
SUR=pahours.reset_index('Su Ref')
SURef

,Basic Hrs,SAT Hrs,DON,UON,AntiSocial Hrs,Pub Hol Hrs,Sunday Hrs,Total Hrs,Hours per week,Hours per week category,AS/PH/SUN %,Premium Hours
SU Ref,,,,,,,,,,,,
1.0,6,-,-,-,8,5,132,150.0,5.0,Under 5 Hrs,96%,Over 40% premium hrs
2.0,19,-,-,-,2,-,250,270.0,9.0,6-10 Hrs,93%,Over 40% premium hrs
3.0,-,-,-,-,-,4,112,116.0,4.0,Under 5 Hrs,100%,Over 40% premium hrs
4.0,6,-,-,-,-,2,50,58.0,2.0,Under 5 Hrs,90%,Over 40% premium hrs
5.0,2,-,-,-,-,-,13,15.0,0.0,Under 5 Hrs,87%,Over 40% premium hrs
...,...,...,...,...,...,...,...,...,...,...,...,...
996.0,89,-,-,-,-,-,-,89.0,3.0,Under 5 Hrs,0%,No premium hrs
997.0,298,-,-,-,-,-,-,298.0,10.0,6-10 Hrs,0%,No premium hrs
998.0,60,-,-,-,-,-,-,60.0,2.0,Under 5 Hrs,0%,No premium hrs
999.0,163,-,-,-,-,1,-,164.0,5.0,Under 5 Hrs,1%,1%-10% premium hrs
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
pahours.head(5)

,SU Ref,Basic Hrs,SAT Hrs,DON,UON,AntiSocial Hrs,Pub Hol Hrs,Sunday Hrs,Total Hrs,Hours per week,Hours per week category,AS/PH/SUN %,Premium Hours
0,1.0,6,-,-,-,8,5,132,150,5.0,Under 5 Hrs,96%,Over 40% premium hrs
1,2.0,19,-,-,-,2,-,250,270,9.0,6-10 Hrs,93%,Over 40% premium hrs
2,3.0,-,-,-,-,-,4,112,116,4.0,Under 5 Hrs,100%,Over 40% premium hrs
3,4.0,6,-,-,-,-,2,50,58,2.0,Under 5 Hrs,90%,Over 40% premium hrs
4,5.0,2,-,-,-,-,-,13,15,0.0,Under 5 Hrs,87%,Over 40% premium hrs

In [179]:
# Filtering with in the file itself to show where Hour per week that are less than 5 and Totals Hrs are less than 10
pahours[(pahours['Hours per week']<5) & (pahours['Total Hrs']<10)]

,SU Ref,Basic Hrs,SAT Hrs,DON,UON,AntiSocial Hrs,Pub Hol Hrs,Sunday Hrs,Total Hrs,Hours per week,Hours per week category,AS/PH/SUN %,Premium Hours
74,75.0,1,-,-,-,1,-,-,2.0,0.0,Under 5 Hrs,67%,Over 40% premium hrs
412,413.0,4,-,-,-,2,-,-,6.0,0.0,Under 5 Hrs,36%,21%-40% premium hrs
641,642.0,7,-,-,-,2,-,-,9.0,0.0,Under 5 Hrs,22%,21%-40% premium hrs
825,826.0,8,-,-,-,-,-,-,8.0,0.0,Under 5 Hrs,0%,No premium hrs
909,910.0,7,-,-,-,-,-,-,7.0,0.0,Under 5 Hrs,0%,No premium hrs

In [172]:
# Slicing to show first 5 rows with SU's and Total hours per week
pahours[0:5][['Pub Hol Hrs','Sunday Hrs']]

  Pub Hol Hrs Sunday Hrs
0           5        132
1        -           250
2           4        112
3           2         50
4        -            13

In [180]:
pahours_filtered = pahours.loc[(pahours['Hours per week'] < 5.0) & (pahours['Sunday Hrs'] == '2')]
pahours_filtered.head()

,SU Ref,Basic Hrs,SAT Hrs,DON,UON,AntiSocial Hrs,Pub Hol Hrs,Sunday Hrs,Total Hrs,Hours per week,Hours per week category,AS/PH/SUN %,Premium Hours
495,496.0,125,-,-,-,-,3,2,130.0,4.0,Under 5 Hrs,4%,1%-10% premium hrs
637,638.0,102,-,-,-,-,3,2,107.0,4.0,Under 5 Hrs,5%,1%-10% premium hrs
769,770.0,22,-,-,-,-,-,2,24.0,1.0,Under 5 Hrs,8%,1%-10% premium hrs

In [111]:
# Dropping duplicate Hours per week. I am  not saving this as a file it self as I want to keet the duplicates
pahours.drop_duplicates(subset='Hours per week')

,SU Ref,Basic Hrs,SAT Hrs,DON,UON,AntiSocial Hrs,Pub Hol Hrs,Sunday Hrs,Total Hrs,Hours per week,Hours per week category,AS/PH/SUN %,Premium Hours
0,1.0,6,-,-,-,8,5,132,150,5.0,Under 5 Hrs,96%,Over 40% premium hrs
1,2.0,19,-,-,-,2,-,250,270,9.0,6-10 Hrs,93%,Over 40% premium hrs
2,3.0,-,-,-,-,-,4,112,116,4.0,Under 5 Hrs,100%,Over 40% premium hrs
3,4.0,6,-,-,-,-,2,50,58,2.0,Under 5 Hrs,90%,Over 40% premium hrs
4,5.0,2,-,-,-,-,-,13,15,0.0,Under 5 Hrs,87%,Over 40% premium hrs
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,1225.0,"1,956",-,212,-,709,75,435,"4,235",140.0,Over 60 Hrs,29%,21%-40% premium hrs
1495,1496.0,"1,650",-,210,-,606,78,406,"3,790",125.0,Over 60 Hrs,29%,21%-40% premium hrs
1563,1564.0,882,-,-,209,760,48,391,"2,707",89.0,Over 60 Hrs,44%,Over 40% premium hrs
1713,1714.0,"1,511",-,-,-,352,50,190,"2,103",69.0,Over 60 Hrs,28%,21%-40% premium hrs
1728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [173]:
# Dropping Nulls Summerised
pahours.isna().sum()

SU Ref                     1
Basic Hrs                  1
SAT Hrs                    1
DON                        1
UON                        1
AntiSocial Hrs             1
Pub Hol Hrs                1
Sunday Hrs                 1
Total Hrs                  1
Hours per week             1
Hours per week category    1
AS/PH/SUN %                1
Premium Hours              1
dtype: int64

In [134]:
pahours.info

<bound method DataFrame.info of       SU Ref  Basic Hrs   SAT Hrs    DON    UON   AntiSocial Hrs   \
0        1.0           6      -      -      -                   8
1        2.0          19      -      -      -                   2
2        3.0        -         -      -      -                -
3        4.0           6      -      -      -                -
4        5.0           2      -      -      -                -
...      ...         ...       ...    ...    ...              ...
1724  1725.0          51      -      -      -                  89
1725  1726.0         184      -      -      -                 178
1726  1727.0        -         -         0   -                -
1727  1728.0         465      -      -      -                 357
1728     NaN         NaN       NaN    NaN    NaN              NaN

      Pub Hol Hrs   Sunday Hrs   Total Hrs   Hours per week  \
0                5          132         150             5.0
1             -             250         270             9.0
2                4          112         116             4.0
3                2           50          58             2.0
4             -              13          15             0.0
...            ...          ...         ...             ...
1724             2           15         156             5.0
1725             9           44         414            14.0
1726          -            -              0             0.0
1727            15           88         925            31.0
1728           NaN          NaN         NaN             NaN

     Hours per week category AS/PH/SUN %         Premium Hours
0                Under 5 Hrs         96%  Over 40% premium hrs
1                   6-10 Hrs         93%  Over 40% premium hrs
2                Under 5 Hrs        100%  Over 40% premium hrs
3                Under 5 Hrs         90%  Over 40% premium hrs
4                Under 5 Hrs         87%  Over 40% premium hrs
...                      ...         ...                   ...
1724             Under 5 Hrs         68%  Over 40% premium hrs
1725               11-20 Hrs         56%  Over 40% premium hrs
1726             Under 5 Hrs          0%        No premium hrs
1727               21-40 Hrs         50%  Over 40% premium hrs
1728                     NaN         NaN                   NaN

[1729 rows x 13 columns]>

In [210]:
# Getting the mean os the 'Hours per week'
Hours_per_week=pahours.groupby('Hours per week').mean()
Hours_per_week.head()

                    SU Ref   Total Hrs
Hours per week
0.0             508.888889    9.000000
1.0             640.456140   31.982456
2.0             624.500000   59.350000
3.0             670.186667   90.026667
4.0             605.579545  118.681818

In [25]:
# Bulid a Data Frame, Dictionay as a List. The number of glasses of wine somebody drinks 4 people per week drink
Gwine={'Name':['Tom','Mary','Pat','Mark'],'Monday' :[2,5,7,8], 'Tuesday': [3,2,4,1], 'Wednesday':[1,4,2,6],'Thursday':[3,2,4,1],'Friday':[1,4,3,2],'Saturday':[4,5,7,6],'Sunday':[3,2,5,4]}
Gwine

{'Name': ['Tom', 'Mary', 'Pat', 'Mark'],
 'Monday': [2, 5, 7, 8],
 'Tuesday': [3, 2, 4, 1],
 'Wednesday': [1, 4, 2, 6],
 'Thursday': [3, 2, 4, 1],
 'Friday': [1, 4, 3, 2],
 'Saturday': [4, 5, 7, 6],
 'Sunday': [3, 2, 5, 4]}

In [26]:
pd.DataFrame(Gwine)

   Name  Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday
0   Tom       2        3          1         3       1         4       3
1  Mary       5        2          4         2       4         5       2
2   Pat       7        4          2         4       3         7       5
3  Mark       8        1          6         1       2         6       4